{#
/**
 * @file
 * Default theme implementation to present a chat entity.
 *
 * This template is used when viewing a registered chat's page,
 * e.g., /telega/chat)/123. 123 being the chat's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_telega_chat()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
