{#
/**
 * @file
 * Default theme implementation to present an user entity.
 *
 * This template is used when viewing a registered user's page,
 * e.g., /telega/user)/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_telega_user()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
