{#
/**
 * @file
 * Default theme implementation to present a session entity.
 *
 * This template is used when viewing a registered session's page,
 * e.g., /telega/session)/123. 123 being the session's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_telega_session()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
